<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean class="com.techcarver.entity.Manufacturer" id="manufacturer"></bean>

	<bean class="com.techcarver.entity.Shop" id="customer1">
		<property name="manufacturer" ref="manufacturer"></property>
	</bean>

	<bean class="com.techcarver.entity.Shop" id="customer2">
		<property name="manufacturer" ref="manufacturer"></property>
	</bean>

</beans>


